* {
    border: none;
    border-radius: 0px;
    font-family: "Fira Code";
    font-size: 8pt;
}

#waybar {
    background: @background-darker;
    color: @foreground;
}

#workspaces button {
    min-width: 20px;
    padding: 0px 2px;
    margin: 1px 5px;
    border-radius: 7px;
    color: @purple;
}

#workspaces button.focused {
    background-color: @pink;
    color: black;
}

#window {
    background-color: @background;
    color: @purple;
    border-radius: 7px;
    border: solid @pink 0px;
    border-width: 0px 5px 0px 5px;
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

#custom-org-clock {
    padding-left: 15px;

    color: grey;

    transition: color 0.5s, text-shadow 1s;
}

#custom-org-clock.active {
    color: @white;
    text-shadow: 0px 0px 2px @purple;
}

.modules-right * {
    margin-left: 10px;
}

.critical {
  color: @red
}

.urgent {
  color: @yellow
}

.normal {
}
