[submodule "submodules/antigen"]
	path = zsh/.antigen
	url = https://github.com:/zsh-users/antigen.git
[submodule "home-manager/home-manager"]
	path = nixpkgs/home-manager
	url = https://github.com/rycee/home-manager
[submodule "home-manager/ohmyzsh"]
	path = nixpkgs/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
