[submodule "submodules/spacemacs"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "submodules/antigen"]
	path = zsh/.antigen
	url = https://github.com/zsh-users/antigen.git
