*
!.gitignore
!.zprofile
!.zshrc
!.antigen/private/
!.antigen/private/**/*
!.i3/
!.i3/**/*
!.Xresources
!.xmonad/
!.xmonad/xmonad.hs
!.spacemacs
!.spacemacs_layers/
!.spacemacs_layers/**/*
.spacemacs_layers/plantuml.jar
!.pentadactylrc
!.vimperator/
!.vimperator/plugin/
!.vimperator/plugin/**/*
!.vimperatorrc
!.local/
!.local/bin/
!.local/bin/em
!.local/bin/random-desktop