* {
    border: none;
    border-radius: 0px;
    font-family: "Fira Code";
    font-size: 7pt;
    padding: 0px;
    margin: 0px;
}

#waybar {
    background: @background-darker;
    color: @foreground;
}

#workspaces button.focused label {
    background-color: @pink;
    color: @black;
}

#workspaces button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#workspaces label {
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 7px;
    color: @purple;
}

#window {
    background-color: @background;
    color: @purple;
    border-radius: 7px;
    border: solid @pink 0px;
    border-width: 0px 5px 0px 5px;
    min-width: 275px;
    padding-left: 15px;
    padding-right: 15px;
}

#custom-org-clock {
    color: grey;
    transition: color 0.5s, text-shadow 1s;
}

#custom-org-clock.active {
    color: @white;
    text-shadow: 0px 0px 2px @purple;
}

.modules-left > * {
    margin-right: 5px;
}

#idle_inhibitor, #battery, #custom-org-agenda, #tray {
    margin-left: 10px;
}

.modules-right > * > * {
    margin-left: 0px;
}

.critical {
    color: @red;
}

.urgent {
    color: @yellow;
}

.normal {
}
