source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/which-key.vim

# Enable vim surround
set surround
vmap s S

# Enable incremental search
set incsearch

# By setting visualbell (which ideavim does not implement, but understands),
# we disable audible bell
set visualbell
set clipboard=unnamedplus
